<!--The content below is only a placeholder and can be replaced.-->
  <div id="menu" class="ui fixed  menu">
        <div class="ui container">
          <a href="#" class="header item">
            <img class="logo" src="assets/images/logo_bug.png">
            MadBug
          </a>
          <a id="mainMenu" href="#" class="item">
            <i class="sidebar icon"></i>
            Menu
          </a>          
        </div>
        {{userName}}
      </div>
      <div class="ui main text container">
          <router-outlet></router-outlet>
      </div>
      
      
      

